:root {
  --main-color: #00a896;
  --text-color: rgba(17, 17, 17, .56);
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Open Sans,sans-serif,system-ui;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
}

h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
  color: var(--main-color);
  font-weight: 400;
}

a {
  color: var(--main-color);
  transition: all 0.5s;
}

a:hover {
  opacity: .8;
  transition: all 0.5s;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}

.section-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}